body {
  background-color: rgb(241, 236, 236);
}

#root {
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin: 1% auto 0;
  width: 80vw;
}

.home {
  display: flex;
  justify-content: center;
}

a {
  color: #285f2b;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: rgb(84, 153, 88);
  }

  & .link-card {
    font-weight: 400;
    color: black;

    &:hover {
      color: rgb(84, 153, 88);
    }
  }
}

.left,
.right {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.welcome {
  display: flex;
  font-size: 50px;
  font-weight: 600;
  position: relative;
  color: rgb(40, 95, 43);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  .letter {
    opacity: 0;
    scale: 1.5;
    animation: fadeInScale 1s ease forwards;

    &:nth-of-type(1) {
      animation-delay: 0.2s;
    }

    &:nth-of-type(2) {
      animation-delay: 0.23s;
    }

    &:nth-of-type(3) {
      animation-delay: 0.26s;
    }

    &:nth-of-type(4) {
      animation-delay: 0.29s;
    }

    &:nth-of-type(5) {
      animation-delay: 0.32s;
    }

    &:nth-of-type(6) {
      animation-delay: 0.35s;
    }

    &:nth-of-type(7) {
      animation-delay: 0.38s;
    }

    &:nth-of-type(8) {
      animation-delay: 0.41s;
    }
  }
}

.explore {
  .letter {
    opacity: 0;
    scale: 1.5;
    animation: fadeInScale 1s ease forwards;

    &:nth-of-type(1) {
      animation-delay: 2.3s;
    }

    &:nth-of-type(2) {
      animation-delay: 2.33s;
    }

    &:nth-of-type(3) {
      animation-delay: 2.36s;
    }

    &:nth-of-type(4) {
      animation-delay: 2.39s;
    }

    &:nth-of-type(5) {
      animation-delay: 2.42s;
    }

    &:nth-of-type(6) {
      animation-delay: 2.45s;
    }

    &:nth-of-type(7) {
      animation-delay: 2.48s;
    }

    &:nth-of-type(8) {
      animation-delay: 2.51s;
    }
  }
}

.hr-animate {
  width: 0px;
  margin: 15px 5px 10px;
  border-top: solid rgb(151, 151, 151) 1.5px;
  animation: fullWidth 1s ease forwards;
}

.bio {
  max-width: 65%;
  margin-top: 20px;
  font-size: medium;
}

.bio-text {
  animation: slideLeft 1s ease forwards;
  opacity: 0;
  transform: translateX(20px);

  &:nth-of-type(1) {
    animation-delay: 0.75s;
  }

  &:nth-of-type(2) {
    animation-delay: 1s;
  }

  &:nth-of-type(3) {
    animation-delay: 1.25s;
  }
}

.profile-img-wrapper {
  margin-top: 55px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.profile-img {
  filter: grayscale(100%);
  border-radius: 50%;
  width: 50%;
  min-width: 250px;
  max-width: 400px;
  animation: colorOut 0.5s ease forwards;
  will-change: border-radius, filter;

  &:hover {
    animation: colorIn 0.5s ease forwards;
  }
}

.delay {
  opacity: 0;
  animation: delayFade 0.6s ease forwards;
  animation-delay: 1s;
  filter: blur(5px);
}

.pic-delay {
  animation-delay: 1.7s;
}

.delay-more {
  animation-delay: 2s;
}

.delay-most {
  animation-delay: 3.3s;
}

.card-wrapper {
  margin-top: 30px;

  .link-card {
    background-color: rgb(245, 245, 245);
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.11);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    animation: slideLeft 1s ease forwards;
    opacity: 0;
    transform: translateX(30px);

    &.one {
      animation-delay: 2.8s;
    }

    &.two {
      animation-delay: 3s;
    }

    &.three {
      animation-delay: 3.2s;
    }

    &.four {
      animation-delay: 3.4s;
    }

    & div {
      display: flex;
      align-items: center;
    }

    & img {
      width: 50px;
      margin-right: 20px;
    }

    & .arrow {
      width: 40px;
      transition: transform 0.3s ease;
      margin-right: 0px;
    }

    &:hover {
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.233);

      & .arrow {
        transform: translateX(5px);
      }
    }
  }
}

//---------------------------------------------- Keyframes ------------------------------------------------

@keyframes fadeInScale {
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes fullWidth {
  100% {
    width: 350px;
  }
}

@keyframes delayFade {
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes colorIn {
  from {
    filter: grayscale(100%);
    border-radius: 50%;
  }

  to {
    filter: grayscale(30%);
    border-radius: 20px;
  }
}

@keyframes colorOut {
  from {
    filter: grayscale(30%);
    border-radius: 20px;
  }

  to {
    filter: grayscale(100%);
    border-radius: 50%;
  }
}

@keyframes slideLeft {
  80% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

//---------------------------------------------- Media Queries ------------------------------------------------

@media only screen and (min-width: 2000px) {
  #root {
    margin: 1% auto 0;
    width: 60vw;
  }
}

@media only screen and (max-width: 1200px) {
  .card-wrapper .link-card {
    width: 350px;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .welcome,
  .explore {
    font-size: 40px;
  }

  @keyframes fullWidth {
    100% {
      width: 250px;
    }
  }

  .bio {
    max-width: 80%;
    margin-top: 20px;
    font-size: small;
  }

  .profile-img-wrapper {
    margin-top: 40px;
  }

  .profile-img {
    width: 70%;
    max-width: 400px;
    min-width: 200px;
  }

  .card-wrapper .link-card {
    width: 90%;
    padding: 10px 20px;
    margin-bottom: 17px;
    font-size: small;

    & img {
      width: 30px;
      margin-right: 20px;
    }

    & .arrow {
      width: 25px;
    }

    &:hover .arrow {
      transform: translateX(3px);
    }
  }
}

@media only screen and (max-width: 768px) {
  .home {
    flex-direction: column;
    text-align: center;
    align-items: center;

    & .left,
    .right {
      max-width: 75%;
      width: 75%;
      margin-bottom: 30px;
    }

    & .welcome {
      display: flex;
      justify-content: center;
    }

    & .bio {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 100%;
    }
  }

  .hr-animate {
    margin: 15px auto 10px;
  }

  @keyframes fullWidth {
    100% {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 450px) {
  #root {
    margin: 1% auto 0;
    width: 100vw;
  }

  .home {
    .left,
    .right {
      max-width: 100%;
      width: 100%;
      margin-bottom: 30px;
    }
  }
}
